.wrapper {
    margin-top: 0.5rem;
    margin-left: 10%;
    width: 80%;
    height: 10rem;
    background:#1b1b2e;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.wrapper img {
    height: 8rem;
    width: 8rem;
}

.wrapper p {
    font-size: 4rem;
    font-weight: 600;
    color: lightblue;
}



.degreeIcon {
    margin-top: 5.5rem;
    margin-left: -1.5rem;
    font-size: small;
    font-weight: 600;
    color: lightblue;
}


