.searchBarWrapper {
    padding-top: 2%;
    margin-left: 7.5%;
    height: 15%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar {
    margin-left: 5%;
    width: 70%;
    background: #1b1b2e;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: all 800ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.searchBar:hover {
    width: 80%; 
    box-shadow: rgba(226, 221, 221, 0.35) 0px 5px 15px;
}

.searchBar input {
    padding-left: 10px;
    height: 2.5rem;
    border: none;
    outline: none;
    background: transparent;
    letter-spacing: 1px;
    color: whitesmoke;
    font-weight: 600;
    font-size: small;
    opacity: 0.8;
}

.searchBar input::placeholder {
    color: gray;
}

.searchIcon {
    padding-left: 5%;
    font-size: 0.8rem;
    font-weight: 500;
    color: gray;
}

.locationIcon {
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    border-radius: 5px;
    background: #232338;
    cursor: pointer;
}

.mapMarked {
    font-size: small;
    color:aliceblue;
}