.wrapper {
    margin-left: 15%;
    height: 2rem;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    font-weight: 600;
    letter-spacing: 1px;
    background: #cce6ff;
    color: black;
}